<div class="center hero-unit">
  <% if signed_in? %>

  <% else %>
      <h1>Welcome to myCUplanner</h1>

      <p> Don't have an account? <%= link_to "Sign up now!", signup_path, class: "btn btn-xs btn-default" %> </p>
  <% end %>
</div>