<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  We are computer science students attending the University of Colorado at BOULDER. This project was made for CSCI 3308, a Software Methods and tools class. We plan to keep developing this app until it is something that is worthy of campus use and we can't wait to see where this takes off to.
</p>