<% if signed_in? %>
    <div class="center hero-unit">
      <h1>Welcome Back!</h1>
      <div class="btn-group btn-group-justified">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
      </div>
    </div>



<% else %>
    <div class="center hero-unit">
      <h1>Welcome to myCUplanner</h1>
      <p> Don't have an account? <%= link_to "Sign up now!", signup_path, class: "btn btn-xs btn-default" %> </p>
    </div>
<% end %>