<% provide(:title, @user.name) %>
  <div class="row">
    <div class="span8">
      <% if @user.courses.any? %>
        <h3>Courses (<%= @user.courses.count %>)</h3>
        <ol class="courses">
          <%= render @courses %>
        </ol>
        <%= will_paginate @courses %>
      <% end %>
    </div>
  </div>


<div class="row">
    <div class="hero-unit">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    </div>
</div>